@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Space-Bold;
  src: url(../fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: Space-Regular;
  src: url(../fonts/SpaceMono-Regular.ttf);
}

.spaceRegular {
  font-family: Space-Regular;
}

.spaceBold {
  font-family: Space-Bold;
}

.BG {
  color: #26c0ab;
  color: #00494d;
  color: #5e7a7d;
  color: #7f9c9f;
  color: #c5e4e7;
  color: #f4fafa;
  color: #ffffff;
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }